@use '@angular/material' as mat;

#title {
  font-size: xxx-large;
  margin: auto;
}

#nav_bottom {
  background-color: #971347;
  height: 100px;
}

#menu-button {
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 25%;
  min-width: 150px;
}
