/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

$light-primary: mat.define-palette(mat.$pink-palette, 500);
$light-accent: mat.define-palette(mat.$orange-palette, A400, A700, A200);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

$dark-primary: mat.define-palette(mat.$indigo-palette, 900);
$dark-accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));

@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);

.dark-theme {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: none; color: white }

.full-width-table th {
  padding: 10px;
  font-weight: bold;
  font-size: large;
  text-align: left;
  vertical-align: center;
  background-color: #383838;
}

.full-width-table td {
  padding: 10px;
  align-content: start;

  * {
    margin: 0 auto;
  }
}

table {
  width: 90%;
  margin: 30px auto 0 auto;
}
