mat-card {
  margin: 20px auto;
  width: 90%;

  mat-divider {
    margin-bottom: 10px;
  }
}

#register {
  margin-top: 20px;
}

.form {
  margin: 0 auto;
  width: 100%;

  .mat-form-field {
    margin: 0 auto;
    width: inherit;

    .mat-input-element {
      color: white;
    }
  }

  .mat-form-field.mat-focused {
    .mat-input-element {
      color: deeppink;
    }
  }

  .mat-raised-button {
    width: inherit;
    display: block;
  }

  .mat-stroked-button {
    margin-top: 30px;
    width: inherit;
    display: block;
  }
}
