<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<mat-card>
  <div fxFlex fxLayout="column" fxLayoutGap="30px">
    <div>
      <mat-card-title>Sign in to your account</mat-card-title>
      <mat-divider></mat-divider>
    </div>
    <mat-card-content fxLayout="column" fxLayoutGap="30px">
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="form">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Username or E-mail address" formControlName="email" required/>
            <mat-error *ngFor="let message of getError('email')">{{message}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput type="password" placeholder="Password" formControlName="password" required/>
            <mat-error *ngFor="let message of getError('password')">{{message}}</mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit">Login</button>
          <br/>
        </div>
      </form>
      <div>
        <div>
          <mat-card-title>Not a member?</mat-card-title>
          <mat-divider></mat-divider>
        </div>
        <div class="form">
          <button mat-stroked-button color="primary" [routerLink]="'/accounts/register'">Register</button>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
