@use '@angular/material' as mat;

.spacer {
  flex: 1 1 auto;
}

footer {
  position: fixed;
  bottom: 0
}

#nav_bottom {
  background-color: #971347;
  height: 100px;
}

#title {
  font-size: xxx-large;
  margin: auto;
}

