#container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: space-evenly;
}

.left {
  flex-grow: 0;
  min-width: 200px;
  border-radius: 3px;
  background-color: rgba(151, 19, 71, 50%);
}

.right {
  flex-grow: 3;
}
